*{
    padding: 0;
    margin: 0;
    text-decoration: none; /*quita las lineas de subrayado de los links*/
    list-style: none; /*quita las viñetas de las listas*/
    box-sizing: border-box;/*Para que los elementos no se desborden del contenedor*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(189, 218, 219);
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
header p{
    line-height: 80px;
}
body{
    background-color: rgb(152, 176, 196);
    
}
nav{
    background-color: rgb(189, 218, 219);
    height: 80px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;/*centra el contenido en el ancho del nav*/
    margin: 0 5px; /*margen arriba y abajo 0, margen laterales 5px*/
}
nav ul li a{
    background-color: cadetblue;
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a:hover{
    background-color: rgb(74, 88, 88);
}
button:hover{
    background-color: rgb(74, 88, 88);
}
button{
    border: none;
}
#logo{
    position: absolute;
}
#logo{
    width: 80px;
    padding-top: 5px;
}
#btn-menu{
    float: right;
    padding-top: 10px;
    cursor: pointer;
    margin-right: 10px;
    display: none;
}
#check{
    display: none;
}
section{
    background-image: url(/img/Tecnologia_Fondo3.jpg);
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 80px); /*100vh corresponde al tamaño total de la pagina, se le restan los 80px del nav*/
}
body{
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width: 952px){
    
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    #btn-menu{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(152, 176, 196);
        top: 80px;
        left: 100%;
        text-align: center;
        transition: 1s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover{
        background-color: rgb(74, 88, 88);
    }
    button:hover{
        background-color: rgb(74, 88, 88);
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/*estilos para el formulario*/
#form-registro{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
fieldset{
    border: none;
}
body input{
    background-color: rgb(246, 242, 242);
}

#title_registro{
    text-align: center;
}
/*Para dar tamaño fijo a los input del formulario (registrar)*/
#nombre, #telefono, #direccion, #correo, #contrasena{
    width: 300px;
}
/*Para dejar el botón registrar (registrar2) siempre en el centro*/
#btn-submit-form{
   text-align: center;
}
/*Estilo del botón registrar/formulario*/
#btn-submit-form{
    padding: 0.5rem;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 10px;    
    background-color: cadetblue;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}
#btn-submit-form:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0.5em 0.5em -0.4em #110338;
    transform: translateY(-0.25em);
}
